/* kommentarer i css*/
/*layout - se på div, marginer og padding*/
body{

    background-color: gray;

}

h1{
    color: red;

}

.avsnitt{
    color:blue
}

#epost, #passord{
    background-color: aqua;
}




